{% extends "blog/base.html" %} 

{% block content %}
{% if user.is_authenticated %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }
    
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white">These are your posts, {{user.username}} </h3>

                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10 mt-4 left">
            {% for post in post_list %}
            <div class="card mb-5">
                <div class="card-header inline">
                <h2 class="d-inline float-left">{{ post.title }}</h2><p class="text-muted h6 d-inline float-right">Likes: {{ post.likes.count }}</p>
                </div>
                <div class="card-body">
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.create_date}} | <a href="{% url 'blog:category' post.category%}">#{{post.category | slugify}}</a>
                    {% if user.is_authenticated %}
                        {% if user.username == post.author.username %}
                        | <a href="{% url 'blog:edit_post' post.slug %}">Edit</a> | <a href="{% url 'blog:delete_post' post.slug %}">Delete</a>
                    {% endif %}
                    {% endif %}
                    </p>
                    <p class="card-text">{{post.content|slice:":200"|safe }}...</p>
                    <a href="{% url 'blog:post_details' post.slug  %}" class="btn btn-outline-success">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
            {% if is_paginated %}
                <nav aria-label="Page navigation conatiner"></nav>
                <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
                </ul>
                </nav>
        </div>
        {% endif %}
        </div>
    </div>
</div>
{% else %}
    <h2 style="text-align: center; margin: 100px;">You must to login!</h2>
{% endif %}
{% endblock %}